{% extends 'funnyquiz/base.html' %}
{% block title %}Get Ready!{% endblock %}

{% block body %}
	<h1> Get Ready For Quiz </h1>

	<body>
		<p> {{cur_quiz.QuizName}} </p>
		<p> {{this_question.QuestionText}} </p>
		<form action = "{%url 'funnyquiz:quiz_welcome' cur_quiz.QuizUrl%}"
			  method = "post">
			{% csrf_token %}
			{% for answer in this_question.answer_set.all %}
			<button type="submit" name="answer" value="{{answer.id}}"> {{answer.AnswerText}} </button>
		</br>
			{% endfor %}



			<!--<button type="submit" name="answer1" value="1"> Answer 1 </button>-->
		</form>
		<!--<form action = "{%url 'funnyquiz:quiz_welcome' cur_quiz.QuizUrl%}"
			  method = "post">
			{% csrf_token %}
			<button type="submit" name="answer2" value="2"> Answer 2 </button>
		</form>
		<form action = "{%url 'funnyquiz:quiz_welcome' cur_quiz.QuizUrl%}"
			  method = "post">
			{% csrf_token %}
			<button type="submit" name="answer3" value="3"> Answer 3 </button>
		</form>
		<form action = "{%url 'funnyquiz:quiz_welcome' cur_quiz.QuizUrl%}"
			  method = "post">
			{% csrf_token %}
			<button type="submit" name="answer4" value="4"> Answer 4 </button>
		</form>-->
		<p> {{time_clicked}} </p>
		<form action="{% url 'funnyquiz:quiz_result' cur_quiz.QuizUrl %}"
			  method="post">
			{% csrf_token %}
			<input type="submit" value="See result" />
		</form>
	</body>
{% endblock %}

